In [1]:
print("Hello python!")

Hello python!

In [2]:
2+3

5

In [3]:
2**3

8

In [4]:
str1 = "Hello"
print(str1)

Hello

In [5]:
print(str1[0]) #Starts from 0 index

H

In [10]:
print(str1[-1]) #Negative indexing

o

In [11]:
str1.isnumeric()

False

In [15]:
str1.capitalize()

'Hello'

In [16]:
str1[0] = 'Z' #Not allowed

TypeError: 'str' object does not support item assignment

In [17]:
str1[0:4]

'Hell'

In [18]:
str1[0:]

'Hello'

In [19]:
str1[0:5]

'Hello'

In [20]:
str1[:]

'Hello'

In [21]:
str1[:4]

'Hell'

In [22]:
str1[::2]

'Hlo'

In [23]:
str2 = "Welcome to python"

In [24]:
print(str2)

Welcome to python

In [25]:
str2[::-1] #Reverse the string trick

'nohtyp ot emocleW'

In [26]:
str2[::-2]

'nhy teolW'

In [27]:
lang1 = 'python'
lang2 = 'java'
print("Hello in {} and {} class".format(lang1,lang2)) #formatting in python

Hello in python and java class

In [28]:
print("Hello in {1} and {0} class".format(lang1,lang2))

Hello in java and python class

In [29]:
print("Hello in {lang1} and {lang2} class".format(lang1='unix',lang2='java'))

Hello in unix and java class

In [30]:
result = 22/7
result

3.142857142857143

In [32]:
print("float number in {} after format print".format(result))

float number in 3.142857142857143 after format print

In [33]:
print("float number in {result:5.3f} after format print".format(result=22/7))

float number in 3.143 after format print

In [44]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
type(lst) #Get the type of variable

list

In [47]:
type(str2)

str

In [48]:
lst[::2]

[1, 3, 5, 7, 9]

In [49]:
lst.append(11)

In [50]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [51]:
lst[1] = 22
lst

[1, 22, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [69]:
lst1 = [23,24,25]
lst3 = lst+lst1

In [70]:
lst2 = [26,27,28]
lst2.reverse() #not assignable (In place method)
lst2

[28, 27, 26]

In [71]:
lst3

[1, 22, 3, 4, 5, 6, 7, 8, 9, 10, 11, 23, 24, 25]

In [72]:
lst3.count(22)

1

In [73]:
lst3.pop()

25

In [74]:
lst3

[1, 22, 3, 4, 5, 6, 7, 8, 9, 10, 11, 23, 24]

In [76]:
lst4 = [1,2,'abcd']
lst4

[1, 2, 'abcd']

In [77]:
lst1 = [1,2,3,4,5]
lst2 = [6,7]
lst1.extend(lst2) #Extend and Append are different
lst1

[1, 2, 3, 4, 5, 6, 7]

In [78]:
lst1.append(lst2)  #Appends as a list
lst1

[1, 2, 3, 4, 5, 6, 7, [6, 7]]

In [79]:
lst1[7]

[6, 7]

In [80]:
lst1[7][0]

6

In [81]:
d = {'key1' : 'value1','key2' : 'value2','key3' : 'value3'} #dictionary
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [82]:
type(d)

dict

In [83]:
d['key1']

'value1'

In [84]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [85]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [86]:
d.values()

dict_values(['value1', 'value2', 'value3'])

In [87]:
d.pop('key3') #only key is required

'value3'

In [88]:
d

{'key1': 'value1', 'key2': 'value2'}

In [89]:
lst1.append(d) #Nice Feature
lst1

[1, 2, 3, 4, 5, 6, 7, [6, 7], {'key1': 'value1', 'key2': 'value2'}]

In [90]:
lst1[8]

{'key1': 'value1', 'key2': 'value2'}

In [91]:
lst1[8]['key1']

'value1'

In [96]:
tup1 = (1,2,3,4,5,1,2,3,4,5) #Tuple
tup1

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [97]:
type(tup1)

tuple

In [98]:
tup1.count(2)

2

In [100]:
tup1.index(5)

4

In [101]:
tup1.index(5,5) #Given start parameter also , similarly end param can be given

9

In [112]:
a = set()

In [113]:
a.add(2)
a.add(3)
a.add(2)
a.add(4)
a.add(5)
a

{2, 3, 4, 5}

In [114]:
a.pop()

2

In [115]:
type(a)

set

In [117]:
 b = set()

In [119]:
b.add(11)
b.add(12)
b.add(13)
b.add(2)
b.add(3)
b

{2, 3, 11, 12, 13}

In [120]:
a.intersection(b)

{3}

In [121]:
a.union(b)

{2, 3, 4, 5, 11, 12, 13}

In [122]:
b.issubset(a)

False

In [123]:
2 > 3

False

In [124]:
4 < 6

True

In [125]:
# == , != , < , > , >= , <= , and , or , not
4 < 6 and 2 < 3

True

In [126]:
4 < 6 or 2 > 3

True

In [127]:
not 2 > 3

True

In [128]:
if b.issubset(a) :
    print("Yes")
else :
    print("No")

No

In [129]:
a = 5
if a > 6 :
    print("less than 6")
elif a < 4 :
    print("less than 4")
else :
    print("Default")

Default

In [130]:
lst = [1,2,3,4,5]
for item in lst:
    print(item)

1
2
3
4
5

In [137]:
str1 = 'hello'
for letter in str1:
    print(letter)

h
e
l
l
o

In [138]:
d = {'key1': 'value1', 'key2': 'value2','key3' : 'value3'}
for item in d:
    print(item)

key1
key2
key3

In [139]:
for item in d:
    print(d[item])

value1
value2
value3

In [143]:
lst1 = [(1,2),(2,3),(3,4)]
for item in lst1:
    print(item)

(1, 2)
(2, 3)
(3, 4)

In [147]:
for a,b in lst1: #Tuple unpacking automatically in python
    print(a)

1
2
3

In [149]:
for item in lst:  #By default it expects some code in for loop or in if statement so pass will pass it :>
    pass

In [150]:
for item in lst:   #As usual we can apply break.continue,pass statements in it
    if item == 3:
        continue
    print(item)

1
2
4
5

In [151]:
x = 1
while x < 5 :
    print(x)
    x = x+1

1
2
3
4

In [154]:
lst1 = [1,2,3] 
lst2 = [4,5,6]
lst3= zip(lst1,lst2)  #Cool

In [155]:
for item in lst3:
    print(item)

(1, 4)
(2, 5)
(3, 6)

In [156]:
3 in lst1

True

In [158]:
for i in range(1,5):  #Upto 5 but not including 5, 3rd paramaeter is also there for the skip or step
    print(i)

1
2
3
4

In [159]:
#taking input from user in python
name = input("Enter your name : ")

Enter your name : Shubham

In [160]:
name

'Shubham'

In [161]:
age = int(input("Enter your age : "))

Enter your age : 21

In [162]:
age

21

In [169]:
lst = [1,2,3,4]
resultlst1 = [];
resultlst2 = [];
for item in lst:
    if item%2 == 0 :
        resultlst1.append(item**2)
    else:
        resultlst2.append(item**2)

In [170]:
resultlst1

[4, 16]

In [171]:
resultlst2

[1, 9]

In [173]:
for i in range(1,11):
    if i == 3:
        continue
    if i == 8 :
        break
    
    if i%2 == 0:
        print(i**2)
    else:
        print(i**3)

1
4
16
125
36
343

In [174]:
lst * 2  #Same list gets added

[1, 2, 3, 4, 1, 2, 3, 4]

In [176]:
'2' + '3'

'23'

In [177]:
"Hello" + "World"

'HelloWorld'

In [181]:
a = 'ze'
a = a*5 #string get multplied 5 times (5 times appended)
a

'zezezezeze'

In [182]:
lst = [1,2,3,4,5,6]
ref = lst
ref

[1, 2, 3, 4, 5, 6]

In [183]:
ref[2] = 99
ref

[1, 2, 99, 4, 5, 6]

In [184]:
lst #Changed at both places (Due to python default memory optimisation)

[1, 2, 99, 4, 5, 6]

In [185]:
ref = lst.copy()
ref[2] = 3

In [186]:
ref #After copying it storing diffrent memory addresses o.w. it don't

[1, 2, 3, 4, 5, 6]

In [187]:
lst

[1, 2, 99, 4, 5, 6]

In [195]:
b = 2
c = 7/b
d = 7//b  #Only 3 of 3.5 (Remainder)

In [196]:
c

3.5

In [197]:
d

3

In [202]:
lst = [1,2,3,4,5,6,7,8]

In [203]:
[i**2 for i in lst] #list comprehension

[1, 4, 9, 16, 25, 36, 49, 64]

In [204]:
val = list(i**2 for i in lst)
val

[1, 4, 9, 16, 25, 36, 49, 64]

In [205]:
list(i**2 for i in lst if i%2==0)

[4, 16, 36, 64]

In [206]:
list(i**2 if i%2== 0 else i**3 for i in lst)

[1, 4, 27, 16, 125, 36, 343, 64]